#compiler-settings
useLegacyImportMode = True
#end compiler-settings
#extends base

#from admin_cmds.admin_user_details import AdminUserDetailsURI
#from admin_cmds.administration import AdminUserCreateURI
#from admin_cmds.administration import AdminUserReactivateURI
#from admin_cmds.ip import IpURI
#from util import validate
#import yelp.util.helpers.template as h


#block header_extra

#end block
